.but{
position: absolute;
top:550px;
border: 1px solid #373737;
border-bottom: none;
background-color: rgba(55,55,55,.7);
width: 300px;
height: 70px;
font-size: 20px;
font-family: 'Comic Sans MS';
color:#F5B041;
margin-top:50px;
padding: 10px 20px;
}
.Hobby{
  border-top-left-radius: 20px;
  left:750px
}
.Biography
{
  border-top-right-radius: 20px;
  left: 1050px
}
.Hobby:disabled {
  background-color: black;
  border-bottom: none;
  border-right: none;
  color: white;
  cursor: not-allowed;
}
.Biography:disabled {
  background-color: black;
  border-bottom: none;
  border-left: none;
  color: white;
  cursor: not-allowed;
}
.active{
  visibility:visible;
}
.profile{

border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
position: absolute;
top: 620px;
left:750px;
background-color: rgba(0,0,0,.8);
border: 1px solid #373737;
border-top: none;
width: 598px;
height: 600px;
margin-top: 50px;
font-size: 16px;
font-family:'Comic Sans MS';
align: left;
}
.SpaceTransition{
  width:1000px;
  height:300px;
  margin-top:140px;
  margin-left: 15%;
}
